# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.directory

# IDEs and editors
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter/Dart-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# iOS-specific
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/.symlinks/
Pods/
.symlinks/
Profile.xcworkspace
Debug.xcworkspace
Release.xcworkspace

# Android-specific
android/local.properties
android/key.properties
android/app/local.properties
android/app/key.properties
